/* remove default border margin and padding from all elements */
* {
  margin: 0;
  padding: 0;
}
body {
  min-width: 350px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: #fff;
  overflow-x: hidden;
  background: #232323;
  background: linear-gradient(45deg, #00020c 0%, rgba(225, 5, 34, 0) 70%), linear-gradient(135deg, #050007 10%, rgba(49, 5, 209, 0) 80%), linear-gradient(225deg, #040114 10%, rgba(10, 219, 216, 0) 80%), linear-gradient(315deg, #050813 100%, rgba(9, 245, 5, 0) 70%);
  font-family: "Avenir Next", "Avenir", sans-serif;
}
.Box1{
  padding-left: 0;
  padding-right: 0;
}
.main{
  /*Alingn all the elements in the centre using flex*/
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.button-container{
  /*place the botton side by side with some sapce between them*/
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 188px;
}
.text-box{
  /*Text should be within in the centre and within a dertain fixed width if large text then newlinw*/
  text-align: center;
  max-width: 400px;
  width: 100%;
}

